.photo {
  height: 300px;
  width: 100%;
}

.login {
  margin-bottom: 25px;
  margin-right: 5px;
  background-color: rgba(173, 216, 230, 0.363)!important;
  border-width: 1px!important;
}

.cardinfoS {
  margin-bottom: 25px;
  margin-right: 5px;
  background-color: lightblue!important;
  border-width: 1px!important;
}

.cardartS {
  margin-bottom: 25px;
  margin-right: 5px;
  border-width: 2px!important;
}

.bttnM {
  margin-right: 7px;
  background-color: lightblue!important;
  color: black!important;
}

h1 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

h2 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}